

<%= @track.name %>
<%= @track.length %><br>
<% if @track.audio_file_name %>
  <audio controls="controls" src="<%= @track.audio.url %>"></audio>
<% end %>
<form action="<%= track_url %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="submit" value="Delete">
</form>
